html,
body {
    font-family: 'source_sans_proregular', sans-serif;
    font-size: 16px;
}


/* ==========================================================================
   Single direction margins
   ========================================================================== */
   
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
	margin-top: 0;
  margin-bottom: rem(20px);
}


/* ==========================================================================
   Colors
   ========================================================================== */
   


