/* ==========================================================================
   Colors
   ========================================================================== */
   
$sky-blue: #6badc0;


/* ==========================================================================
   Generic styles
   ========================================================================== */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility;
}


/* ==========================================================================
   Single direction margins
   ========================================================================== */
   
h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
	margin-top: 0;
  	margin-bottom: rem(20px);
}



